/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*  end reset browser styles */
/*---------------------------------------------*/
/*  General styling */

    .long-p {
    padding-bottom: 0.7em;
    }

    h3 {
        font-size: 150%;
    }

    /* button class */

    .button {
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 3em;
    padding: 1em;
    text-decoration: none;
    color: #ffffff;
    margin-right: 0.7em;
    }

    .button-full {
    background: #2980b9;
    }

    .button-ghost {
    border: 2px solid #1d5a81;
    }

    .button:hover, .button:active{
    background: #1d5a81;
    }

    /*end button class styling*/
    /*---------------------------*/
    /* section */

    section {
    padding-bottom: 2em;
    overflow: auto;
    }

    section:nth-child(2n+1) {
    background-color: #ecf0f1;
    }

    .row {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    }

    h2 {
    padding: 4em 0 2em 0;
    font-size: 200%;
    color: #262f3d;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    }

    h2:after {
    display: block;
    content: " ";
    width: 100px;
    height: 2px;
    margin: 1em auto 0 auto;
    background-color: #2980b9;

    }
    /*end section styling*/
    /*---------------------------*/

/*  end general styling */
/*---------------------------------------------*/
/* Section specific styling */
    /*  Navigation styling */

    nav {
        width: 100%;
        height: 100px;
        background-color: transparent;
    }

    [data-sticky="sticky"] {
        background-color: rgba(0.5, 0.5, 0.5, 0.7);
        position: fixed;
        z-index: 999;
    }

    .logo {
        float: left;
        margin: 10px;
        max-width: 80px;
        height: auto;
    }

    .main-nav {
        list-style: none;
        padding: 30px 100px 0 100px;
    }

    .main-nav li {
        display: inline-block;
        margin-left: 40px;
        line-height: 250%;
    }

    .main-nav li a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        padding-bottom: .2em;
    }

    .main-nav li a:hover, .main-nav li a:active{
        border-bottom: 2px solid #2980b9;
    }

    .hamburger-menu {
        display: none;
        position: absolute;
        top: 35px;
        right: 30px;
        width: 35px;
        height: 20px;
    }

    .hamburger-menu-bar {
        position: absolute;
        top: 50%;
        width: 35px;
        height: 5px;
        background-color: #f6f8f8;
        border-radius: 10px;
        transition: 0.5s;
        transition-delay: 0.5s;
    }

    .hamburger-menu-bar:before, .hamburger-menu-bar:after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #f6f8f8;
        position: absolute;
        top: -10px;
        border-radius: 10px;
        transition-property: top, transform;
        transition-delay: 0.5s, 0s;
        transition-duration: 0.5s, 0.5s;
    }

    .hamburger-menu-bar:after {
        top: 10px;
    }

    /* end navigation styling*/
    /*---------------------------*/
    /* header styling */

    header {
        height: 100vh;
        background: #262f3d;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("background_image.jpeg");
        background-size: cover;
        background-position: center;
    }

    .header-text-box {
        position: absolute;
        top: 50%;
        left: 20%;
        color: #ffffff;
        transform: translate(0, -50%);
    }

    h1 {
        font-size: 250%;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: .5em;
        letter-spacing: .025em;
        word-spacing: .075em;
        padding-bottom: 0.8em;
    }

    header p {
        color: #ffffff;
        position: absolute;
        bottom: 3em;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .arrow-down {
        border: 5px solid #1d5a81;
        border-left: none;
        border-bottom: none;
        font-size: 1em;
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: 2em;
        left: 50%;
        transform: translate(-50%, 0) rotate(135deg);
    }
    
    .arrow-down:hover {
        cursor: pointer;
    }

    /* end header styling */
    /*---------------------------*/
    /* information styling */

    .information-box {
        width: 33%;
        display: inline-block;
        float: left;
    }

    .information-box h3 {
        text-align: center;
        background-color: #2980b9;
        border-radius: 3em;
        width: 150px;
        margin: 0 auto 0.7em auto;
        color: #ffffff;
        padding: 0.3em;
    }

    .short-p {
        text-align: center;
    }

    /* end information styling */
    /*---------------------------*/
    /*  html + css styling */

    .html-photo, .css-photo {
        width: 50%;
        display: inline-block;
        float: left;
        background-color: #000;
        overflow: hidden;
        padding: 2px;
    }

    .html-photo img, .css-photo img {
        display: block;
        float: left;
        opacity: 0.7;
        width: 100%;
        height: auto;
        transform: scale(1.15);
    }

    .html-photo img:hover, .css-photo img:hover {
        opacity: 1;
        transform: scale(1);
        transition: transform linear .2s;
    }

    /* end html + css styling */
    /*---------------------------*/
    /* javascript styling */

    #clock p {
        text-align: center;
        font-size: 250%;
    }

    #clock h3 {
        text-align: center;
        padding: 2em 0 1em 0;
    }

    /* end javascript styling */
    /*---------------------------*/

/* end section specific styling */
/*---------------------------------------------*/
/* Responsive styling */
@media screen and (max-width:1200px) {
    .header-text-box {
        left: 10%;
    }

    .row {
        width: 85%;
    }
}

@media screen and (max-width: 1000px){
    .hidden {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .information-box {
        padding: .3em;
    }
}

@media screen and (max-width: 750px){
    .header-text-box {
        left: 5%;
    }
    .html-photo, .css-photo {
        display: block;
        width: 80%;
        margin: 0 auto;
        float: none;
    }
}

@media screen and (max-width: 600px){
    .information-box {
        display: block;
        width: 100%;
        padding-bottom: 2em;
    }
}